.App {
  text-align: center;
}

.panel {
  width: 1100px;
  margin: 0 auto;
  background-color: rgb(252, 247, 203);
}

.text-white {
  color: white;
}
.text-yellow {
  color: #fed136;
}
.text-black {
  color: black;
}

.btn-style {
  border: none;
  border-radius: 10%;
  color: white;
  background-color: #fed136;
}

/*  Header  */

.header {
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(252, 175, 175);
}

.header-wrapper {
  background-color: rgb(175, 217, 252);
}

.header .title {
  background-color: rgb(179, 233, 235);
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(192, 235, 168);
}

.header .menu {
  background-color: rgb(179, 233, 235);
}

.header .greeting {
  background-color: rgb(235, 198, 149);
}

/*  Main  */

.main-content {
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(192, 235, 168);
}

.main-content-wrapper {
  background-color: rgb(175, 217, 252);
}

/*  Aside  */

.aside-contact {
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(235, 198, 149);
}

.aside-contact-wrapper {
  background-color: rgb(192, 235, 168);
}

.aside-contact .title-wrapper {
  background-color: rgb(235, 198, 149);
}

.aside-contact .message-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(175, 217, 252);
}

.input-size {
  width: 100%;
}

.aside-contact .sender-contact-input {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 198, 149);
}

/*  Footer  */

.footer {
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(175, 217, 252);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  background-color: rgb(252, 175, 175);
}

.footer .copyright {
  background-color: rgb(192, 235, 168);
}

.footer .social-media-icons {
  display: flex;
  background-color: rgb(168, 233, 235);
  margin-right: 2.2%;
}

.footer .icon {
  width: 40px;
  height: 40px;
  background-color: rgb(108, 116, 228);
  border-radius: 50%;
  margin: 0 5px;
}

.footer .policy-menu {
  background-color: rgb(192, 235, 168);
}